@using Microsoft.AspNetCore.Identity
@model UserManager<SiteUser>
@inject UserManager<SiteUser> UserManager

@{
	ViewData["Title"] = "Manage Profiles";
	var currentUser = await UserManager.GetUserAsync(User);
}
<h1>@ViewData["Title"]</h1>


<ul>
	@foreach (var user in Model.Users.Where(x => currentUser.Id != x.Id))
	{
		<li style="float: left; list-style-type: none; margin:10px">
			<div class="card" style="width: 18rem; background-color:black">
				<img class="card-img-top" src="@user.ProfilePictureUrl" alt="Card image cap" style="width:100px; height:100px; opacity:0.70; border:none;">
				<div class="card-body">
					<h5 class="card-title text-white">@user.FirstName</h5>
					<h7 class="card-title text-white">@user.Id</h7>
					@if (await UserManager.IsInRoleAsync(user, "Admin"))
					{
						<a href="/Admin/RemoveAdminRights?userId=@user.Id" class="btn btn-warning">Remove Admin Rights</a>
					}
					else
					{
						<a href="/Admin/GrantAdminRights?userId=@user.Id" class="btn btn-success">Grant Admin Rights</a>
					}
					<br />
					<br />
					@Html.ActionLink("Delete Profil", "DeleteUser", "Admin", new { userId = user.Id },  new { @class="btn btn-danger", onclick="return confirm('Are you sure you want to delete this user?')" })
				</div>
			</div>

		</li>
	}
</ul>